{%extends "bootstrap.html" %}
{%block css%}
    {{css.super}}
    <link type='text/css' href='/media/css/bootstrap.css' media='screen' rel='stylesheet' />
    <link type='text/css' href='/media/css/style.css' media='screen' rel='stylesheet' />
    <link type='text/css' href='/media/css/chat.css' media='screen' rel='stylesheet' />
{%endblock%}

{%block header%}
<a id="dws-logo" href="#"></a>
<ul class="menu" rel="sam1">
<li class="active"><a href="#">Home</a></li>
<li ><a href="#">Blog</a></li>
<li><a href="#">Wiki</a></li>
<li><a href="#">Contact</a></li>
</ul>
{%endblock%}
{%block above_main%}
{% include "chat.html" %}
{%endblock%}
{%block main%}

{%endblock%}

